{% extends 'base.html.twig' %}
{% block title %}Digitech-Agency | Agence Web{% endblock %}
{% block body %}
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <a href="{{ path("app_home") }}" class="hero-logo" data-aos="zoom-in"><img
                        src="{{ asset("assets/img/logo/Logo_white_big.webp") }}" width=500px alt=""></a>
            <h1 data-aos="zoom-in">Bienvenue sur Digitech-Agency</h1>
            <h2 data-aos="fade-up">Agence Web spécialisé dans la création de site internet sous Symfony.</h2>
            <a data-aos="fade-up" data-aos-delay="200" href="#about" class="btn-get-started scrollto">Go ! <i
                        class="fa fa-smile"></i></a>
        </div>
    </section><!-- End Hero Section -->

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="logo">
                <a href="{{ path("app_home") }}"><img src="{{ asset("assets/img/logo/Logotext_black_nobg.webp") }}"
                                                      alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero"><i class="fa fa-home"></i></a></li>
                    <li><a class="nav-link scrollto" href="#about">À Propos</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
                    <li><a class="nav-link scrollto" href="#team">L'équipe</a></li>
                    <li><a class="nav-link scrollto" href="#pricing">Tarif</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>À Propos</h2>
                    <p>"Le pouvoir de la créativité, au service de votre présence en ligne"</p>
                </div>

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-right">
                        <div class="image">
                            <img src="{{ asset("assets/img/about.jpg") }}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-left">
                        <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
                            <h3>Digitech-Agency, votre partenaire de confiance</h3>
                            <p class="fst-italic">
                                Bienvenue chez Digitech-Agency, votre partenaire de confiance pour la création de sites
                                internet exceptionnels. Nous sommes une agence dynamique spécialisée dans la conception
                                et le développement de sites web sur mesure, adaptés à vos besoins et à votre identité.
                            </p>
                            <ul>
                                <li><i class="bx bx-check-double"></i> Chez Digitech-Agency, nous comprenons que chaque
                                    entreprise est unique et mérite une présence en ligne qui reflète son caractère
                                    distinctif. C'est pourquoi nous mettons tout en œuvre pour concevoir des sites
                                    internet uniques et captivants, capables de vous démarquer de la concurrence.
                                </li>
                                <li><i class="bx bx-check-double"></i> Notre équipe de concepteurs talentueux et de
                                    développeurs chevronnés travaille en étroite collaboration avec vous afin de
                                    comprendre vos objectifs et vos exigences spécifiques.
                                </li>
                                <li><i class="bx bx-check-double"></i> Grâce à notre expertise dans les dernières
                                    technologies et tendances du web, nous sommes en mesure de créer des sites internet
                                    modernes, réactifs et conviviaux.
                                </li>
                            </ul>
                            <p>
                                Choisir Digitech-Agency, c'est choisir la rapidité, la simplicité et l'efficacité.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Services</h2>
                    <p>"Explorez l'excellence numérique avec nos services sur mesure"</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
                            <i class="bx bx-receipt"></i>
                            <h4>Maquette UX</h4>
                            <p> Elles permettent aux concepteurs de donner vie à leurs idées, de tester l'agencement des
                                éléments et d'anticiper les interactions, garantissant ainsi des interfaces digitales
                                intuitives et efficaces pour les utilisateurs finaux.</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-cube-alt"></i>
                            <h4>Agence Polyvalente</h4>
                            <p>Digitech-Agency est une agence web polyvalente qui excelle dans la création de sites web
                                percutants, le développement d'applications innovantes et la mise en œuvre de stratégies
                                de marketing numérique efficaces. </p>
                        </div>
                        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-phone"></i>
                            <h4>Responsive</h4>
                            <p>Nos sites sont conçu avec une approche de conception responsive, assurant une expérience
                                utilisateur optimale sur tous les appareils, tels que les ordinateurs de bureau, les
                                tablettes et les smartphones.</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-shield"></i>
                            <h4>Sécurité et Sauvegardes</h4>
                            <p>Nos sites bénéficient de certificats SSL pour des connexions sécurisées, de mises à jour
                                régulières pour une protection optimale, et d'un contrôle d'accès restreignant les
                                privilèges des utilisateurs et assurons des sauvegardes régulières, stockées de manière
                                sécurisée.</p>
                        </div>
                    </div>
                    <div class="image col-lg-6 order-1 order-lg-2"
                         style='background-image: url("{{ asset("assets/img/services.jpg") }}");' data-aos="fade-left"
                         data-aos-delay="100"></div>
                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Featured Section ======= -->
        <section id="featured" class="featured">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-right">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <figure>
                                    <img src="{{ asset("assets/img/featured-1.png") }}" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <figure>
                                    <img src="{{ asset("assets/img/featured-2.png") }}" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <figure>
                                    <img src="{{ asset("assets/img/featured-3.png") }}" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <figure>
                                    <img src="{{ asset("assets/img/featured-4.png") }}" alt="" class="img-fluid">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-left">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                                    <h4>Création graphique</h4>
                                    <p>Digitech-Agency vous propose de créer votre nouvelle identité, de votre logo à la
                                        maquette de votre site internet.</p>
                                </a>
                            </li>
                            <li class="nav-item mt-2">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                                    <h4>Référencement</h4>
                                    <p>Apparaissez en premier lors de votre recherche grâce à Digitech-Agency.</p>
                                </a>
                            </li>
                            <li class="nav-item mt-2">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                                    <h4>Agrandissez votre communauté</h4>
                                    <p>Vendre ou être présent sur le web va vous permettre de gagnez en clientèle.</p>
                                </a>
                            </li>
                            <li class="nav-item mt-2">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                                    <h4>Augmentez votre chiffre d'affaire</h4>
                                    <p>Se digitaliser permet d'agrandir votre rayon de prospect, et donc d'augmentez vos
                                        revenus.</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section><!-- End Featured Section -->

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-stretch">

                        <div class="content" data-aos="fade-up">
                            <h3>Notre passion <strong>pour le numérique au service de votre réussite</strong></h3>
                            <p>Plongez dans l'univers de Digitech-Agency, où créativité, technologie et expertise se
                                fusionnent pour façonner des expériences numériques exceptionnelles qui propulseront
                                votre entreprise vers de nouveaux sommets.
                            </p>
                        </div>

                        <div class="accordion-list">
                            <ul>
                                <li data-aos="fade-up" data-aos-delay="100">
                                    <a data-bs-toggle="collapse" class="collapse"
                                       data-bs-target="#accordion-list-1"><span>01</span> Qu'est-ce qui distingue
                                        Digitech-Agency des autres agences web ? <i
                                                class="bx bx-chevron-down icon-show"></i><i
                                                class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>
                                            Chez Digitech-Agency, notre différence réside dans notre approche holistique
                                            de la conception numérique, alliant créativité, innovation technologique et
                                            expertise en expérience utilisateur pour offrir des solutions sur mesure qui
                                            répondent parfaitement aux besoins uniques de nos clients.
                                        </p>
                                    </div>
                                </li>

                                <li data-aos="fade-up" data-aos-delay="200">
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                       class="collapsed"><span>02</span> Quels types de services proposez-vous ? <i
                                                class="bx bx-chevron-down icon-show"></i><i
                                                class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            Nous proposons une gamme complète de services, comprenant la conception de
                                            sites web élégants et intuitifs, le développement d'applications mobiles
                                            performantes, la stratégie de marketing numérique, le référencement SEO, la
                                            gestion des réseaux sociaux et bien plus encore.
                                        </p>
                                    </div>
                                </li>

                                <li data-aos="fade-up" data-aos-delay="300">
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3"
                                       class="collapsed"><span>03</span> Comment assurez-vous la satisfaction de vos
                                        clients ? <i
                                                class="bx bx-chevron-down icon-show"></i><i
                                                class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            La satisfaction de nos clients est notre priorité absolue. Nous mettons un
                                            point d'honneur à comprendre leurs objectifs et à travailler en étroite
                                            collaboration avec eux à chaque étape du processus. Notre approche
                                            transparente, notre communication régulière et notre engagement envers
                                            l'excellence garantissent des résultats qui dépassent les attentes de nos
                                            clients.
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>

                    <div class="col-lg-5 order-1 order-lg-2 align-items-stretch video-box"
                         style='background-image: url({{ asset("assets/img/why-us.jpg") }});' data-aos="zoom-in">
                        <a href="https://www.youtube.com/watch?v=LIqQNG_q2us" class="venobox play-btn mb-4"
                           data-vbtype="video" data-autoplay="true"></a>
                    </div>

                </div>

            </div>
        </section><!-- End Why Us Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Portfolio</h2>
                    <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active"><i class="fa fa-infinity"></i></li>
                            <li data-filter=".filter-app">Web</li>
                            <li data-filter=".filter-card">Android</li>
                            <li data-filter=".filter-web">IOS</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{{ asset("assets/img/portfolio/ryveweb.fr.webp") }}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Ryveweb</h4>
                                <p>Site Internet</p>
                                <div class="portfolio-links">
                                    <a href="{{ asset("assets/img/portfolio/ryveweb.fr.webp") }}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="Ryveweb"><i
                                                class="bx bx-plus"></i></a>
                                    <a href="https://ryveweb.fr" title="Plus de Détails"><i
                                                class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{{ asset("assets/img/portfolio/very-maxime.fr.webp") }}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Portfolio VERY Maxime</h4>
                                <p>Site Internet</p>
                                <div class="portfolio-links">
                                    <a href="{{ asset("assets/img/portfolio/very-maxime.fr.webp") }}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="Portfolio VERY Maxime"><i
                                                class="bx bx-plus"></i></a>
                                    <a href="https://very-maxime.fr" title="Plus de Détails"><i
                                                class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{{ asset("assets/img/portfolio/portfolio-3.jpg") }}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>App 2</h4>
                                <p>App</p>
                                <div class="portfolio-links">
                                    <a href="{{ asset("assets/img/portfolio/portfolio-3.jpg") }}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i
                                                class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html.twig" title="More Details"><i
                                                class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{{ asset("assets/img/portfolio/portfolio-4.jpg") }}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Card 2</h4>
                                <p>Card</p>
                                <div class="portfolio-links">
                                    <a href="{{ asset("assets/img/portfolio/portfolio-4.jpg") }}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i
                                                class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html.twig" title="More Details"><i
                                                class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{{ asset("assets/img/portfolio/portfolio-5.jpg") }}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Web 2</h4>
                                <p>Web</p>
                                <div class="portfolio-links">
                                    <a href="{{ asset("assets/img/portfolio/portfolio-5.jpg") }}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i
                                                class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html.twig" title="More Details"><i
                                                class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{{ asset("assets/img/portfolio/portfolio-6.jpg") }}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>App 3</h4>
                                <p>App</p>
                                <div class="portfolio-links">
                                    <a href="{{ asset("assets/img/portfolio/portfolio-6.jpg") }}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i
                                                class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html.twig" title="More Details"><i
                                                class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{{ asset("assets/img/portfolio/portfolio-7.jpg") }}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Card 1</h4>
                                <p>Card</p>
                                <div class="portfolio-links">
                                    <a href="{{ asset("assets/img/portfolio/portfolio-7.jpg") }}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i
                                                class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html.twig" title="More Details"><i
                                                class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{{ asset("assets/img/portfolio/portfolio-8.jpg") }}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Card 3</h4>
                                <p>Card</p>
                                <div class="portfolio-links">
                                    <a href="{{ asset("assets/img/portfolio/portfolio-8.jpg") }}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i
                                                class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html.twig" title="More Details"><i
                                                class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{{ asset("assets/img/portfolio/portfolio-9.jpg") }}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Web 3</h4>
                                <p>Web</p>
                                <div class="portfolio-links">
                                    <a href="{{ asset("assets/img/portfolio/portfolio-9.jpg") }}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i
                                                class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html.twig" title="More Details"><i
                                                class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->

        {#        <!-- ======= Testimonials Section ======= --> #}
        {#        <section id="testimonials" class="testimonials"><ym</ym> #}
        {#            <div class="container" data-aos="zoom-in"> #}
        {#                <div class="quote-icon"> #}
        {#                    <i class="bx bxs-quote-right"></i> #}
        {#                </div> #}

        {#                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100"> #}
        {#                    <div class="swiper-wrapper"> #}

        {#                        <div class="swiper-slide"> #}
        {#                            <div class="testimonial-item"> #}
        {#                                <p> #}
        {#                                    Avis du client 1 #}
        {#                                </p> #}
        {#                                <img src="{{ asset("assets/img/testimonials/testimonials-1.jpg") }}" #}
        {#                                     class="testimonial-img" alt=""> #}
        {#                                <h3>Client 1</h3> #}
        {#                                <h4>Entreprise du Client 1</h4> #}
        {#                            </div> #}
        {#                        </div><!-- End testimonial item --> #}

        {#                        <div class="swiper-slide"> #}
        {#                            <div class="testimonial-item"> #}
        {#                                <p> #}
        {#                                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid #}
        {#                                    cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet #}
        {#                                    legam anim culpa. #}
        {#                                </p> #}
        {#                                <img src="{{ asset("assets/img/testimonials/testimonials-2.jpg") }}" #}
        {#                                     class="testimonial-img" alt=""> #}
        {#                                <h3>Sara Wilsson</h3> #}
        {#                                <h4>Designer</h4> #}
        {#                            </div> #}
        {#                        </div><!-- End testimonial item --> #}

        {#                        <div class="swiper-slide"> #}
        {#                            <div class="testimonial-item"> #}
        {#                                <p> #}
        {#                                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem #}
        {#                                    veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint #}
        {#                                    minim. #}
        {#                                </p> #}
        {#                                <img src="{{ asset("assets/img/testimonials/testimonials-3.jpg") }}" #}
        {#                                     class="testimonial-img" alt=""> #}
        {#                                <h3>Jena Karlis</h3> #}
        {#                                <h4>Store Owner</h4> #}
        {#                            </div> #}
        {#                        </div><!-- End testimonial item --> #}

        {#                        <div class="swiper-slide"> #}
        {#                            <div class="testimonial-item"> #}
        {#                                <p> #}
        {#                                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim #}
        {#                                    fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem #}
        {#                                    dolore labore illum veniam. #}
        {#                                </p> #}
        {#                                <img src="{{ asset("assets/img/testimonials/testimonials-4.jpg") }}" #}
        {#                                     class="testimonial-img" alt=""> #}
        {#                                <h3>Matt Brandon</h3> #}
        {#                                <h4>Freelancer</h4> #}
        {#                            </div> #}
        {#                        </div><!-- End testimonial item --> #}

        {#                        <div class="swiper-slide"> #}
        {#                            <div class="testimonial-item"> #}
        {#                                <p> #}
        {#                                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster #}
        {#                                    veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam #}
        {#                                    culpa fore nisi cillum quid. #}
        {#                                </p> #}
        {#                                <img src="{{ asset("assets/img/testimonials/testimonials-5.jpg") }}" #}
        {#                                     class="testimonial-img" alt=""> #}
        {#                                <h3>John Larson</h3> #}
        {#                                <h4>Entrepreneur</h4> #}
        {#                            </div> #}
        {#                        </div><!-- End testimonial item --> #}

        {#                    </div> #}
        {#                    <div class="swiper-pagination"></div> #}
        {#                </div> #}

        {#            </div> #}
        {#        </section><!-- End Testimonials Section --> #}

        {#        <!-- ======= Clients Section ======= --> #}
        {#        <section id="clients" class="clients"> #}
        {#            <div class="container"> #}

        {#                <div class="row"> #}

        {#                    <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in"> #}
        {#                        <img src="{{ asset("assets/img/clients/client-1.png") }}" class="img-fluid" alt=""> #}
        {#                    </div> #}

        {#                    <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="100"> #}
        {#                        <img src="{{ asset("assets/img/clients/client-2.png") }}" class="img-fluid" alt=""> #}
        {#                    </div> #}

        {#                    <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="200"> #}
        {#                        <img src="{{ asset("assets/img/clients/client-3.png") }}" class="img-fluid" alt=""> #}
        {#                    </div> #}

        {#                    <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="300"> #}
        {#                        <img src="{{ asset("assets/img/clients/client-4.png") }}" class="img-fluid" alt=""> #}
        {#                    </div> #}

        {#                    <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="400"> #}
        {#                        <img src="{{ asset("assets/img/clients/client-5.png") }}" class="img-fluid" alt=""> #}
        {#                    </div> #}

        {#                    <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="500"> #}
        {#                        <img src="{{ asset("assets/img/clients/client-6.png") }}" class="img-fluid" alt=""> #}
        {#                    </div> #}

        {#                </div> #}

        {#            </div> #}
        {#        </section><!-- End Clients Section --> #}

        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>L'équipe Digitech</h2>
                    <p>"L'équipe de développeurs Digitech : une synergie puissante entre créativité et expertise
                        technique"</p>
                </div>

                <div class="row">

                    <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="zoom-in">
                            <div class="member-img">
                                <img src="{{ asset("assets/img/team/kyllian-ai.webp") }}" class="img-fluid" alt="">
                                <div class="social">
                                    <a href="https://www.linkedin.com/in/kyllian-claveau-7481901ab/"><i
                                                class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Kyllian CLAVEAU</h4>
                                <span>Co-Gérant et Développeur</span>
                                <p>Je suis profondément passionné par les nouvelles technologies et l'univers numérique,
                                    et je veux créer DigiTech Agency pour permettre aux entreprises de réussir en ligne
                                    grâce à des solutions innovantes et un service client de premier ordre.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="zoom-in" data-aos-delay="100">
                            <div class="member-img">
                                <img src="{{ asset("assets/img/team/VERYMaxime.webp") }}" class="img-fluid" alt="">
                                <div class="social">
                                    <a href="https://www.linkedin.com/in/maxime-very"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Maxime VERY</h4>
                                <span>Co-Gérant et Développeur</span>
                                <p>Passionné par l'innovation technologique, doté d'une solide compréhension de divers
                                    langages de programmation ainsi que d'une formation en administration système et
                                    réseau.
                                    Ma capacité à comprendre les besoins spécifiques des projets me permet de créer des
                                    solutions efficaces et performantes.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Team Section -->

        <!-- ======= Pricing Section ======= -->
        <section id="pricing" class="pricing section-bg">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Formules</h2>
                    <p>Choisissez parmi nos formules Essentielle, Avancée ou Premium pour donnez vie à votre projet dès
                        aujourd'hui.</p>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            <h3>Essentielle</h3>
                            <h4><sup>€</sup>300</h4>
                            <ul>
                                <li>Site Vitrine</li>
                                <li>Technologie : WordPress</li>
                                <li>10 pages maximum</li>
                                <li class="na">Paiement intégré</li>
                                <li class="na">Hébergement inclus</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Commander</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                        <div class="box recommended" data-aos="zoom-in">
                            <span class="recommended-badge">Recommandée</span>
                            <h3>Avancée</h3>
                            <h4><sup>€</sup>700</h4>
                            <ul>
                                <li>Site E-Commerce</li>
                                <li>Technologie Symfony</li>
                                <li>Pages illimitées</li>
                                <li>Paiement intégré</li>
                                <li class="na">Application disponible</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Commander</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            <h3>Premium</h3>
                            <h4><sup>€</sup>1500</h4>
                            <ul>
                                <li>Site web sur mesure</li>
                                <li>Technologie Symfony</li>
                                <li>Pages illimitées</li>
                                <li>SEO optimisé</li>
                                <li>Maintenance incluse 1 an</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Commander</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Pricing Section -->

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Foire aux Questions</h2>
                </div>

                <ul class="faq-list">

                    <li data-aos="fade-up">
                        <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1"> Qu'est-ce que l'Agence
                            Digitech ?
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Digitech Agency est une agence web spécialisée dans la conception et le developpement
                                de sites web nés de la collaboration entre Digitech-Agency et Ryveweb. Nous nous
                                engageons à aider les entreprises de toutes tailles et de tous
                                secteurs à établir une forte présence en ligne et à atteindre leurs objectifs.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">Quels services propose
                            l'Agence Digitech ? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-x icon-close"></i></a>
                        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Digitech Agency propose une gamme complète de services, notamment :
                            <ul class="in-faq">
                                <li>Référencement naturel (SEO)</li>
                                <li>Marketing numérique (PPC, marketing sur les réseaux sociaux, marketing par e-mail,
                                    marketing de contenu)
                                </li>
                                <li>Développement web (développement de sites web sur mesure, solutions de commerce
                                    électronique)
                                </li>
                                <li>Maintenance et assistance technique de sites web</li>
                            </ul>
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed"> Comment puis-je demander
                            un devis pour mon projet ? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-x icon-close"></i></a>
                        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Pour demander un devis pour votre projet, vous pouvez remplir le formulaire de contact
                                sur notre site web ou nous contacter par e-mail ou par téléphone. Fournissez autant de
                                détails que possible sur vos besoins et vos objectifs, et notre équipe vous répondra
                                rapidement avec un devis personnalisé.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">Comment l'Agence Digitech
                            assure-t-elle la sécurité de mon site web ? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-x icon-close"></i></a>
                        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Nous accordons une grande importance à la sécurité et prenons diverses mesures pour
                                protéger votre site web. Cela comprend l'utilisation de pratiques
                                de codage sécurisées, la mise en place de certificats SSL pour le transfert de données
                                chiffrées,
                                des sauvegardes régulières et le maintien de tous les logiciels et plugins à jour pour
                                éviter les vulnérabilités.
                            </p>
                        </div>
                    </li>


                    <li data-aos="fade-up" data-aos-delay="400">
                        <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">L'Agence Digitech
                            fournit-elle un soutien après la fin du projet ? <i
                                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Oui, nous offrons des services de soutien et de maintenance après la fin du projet
                                pour garantir le bon fonctionnement de votre site web.
                                Vous pouvez choisir parmi différentes formules en fonction de vos besoins.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="500">
                        <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed"> Comment fonctionne le
                            processus de l'Agence Digitech ?<i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-x icon-close"></i></a>
                        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Notre processus implique généralement les étapes suivantes :
                            <ul class="in-faq">

                                <li>Consultation Initiale : Nous discutons des détails, des besoins et des objectifs de
                                    votre projet pour mieux comprendre votre vision.
                                </li>
                                <li>Proposition et Accord : Nous fournissons une proposition détaillée décrivant la
                                    portée, le calendrier et le coût du projet. Une fois acceptée, nous commençons.
                                </li>
                                <li>Conception et Développement : Notre équipe commence à travailler sur le projet, en
                                    vous tenant informé tout au long du processus.
                                </li>
                                <li>Tests et Assurance Qualité : Nous testons rigoureusement les livrables pour nous
                                    assurer qu'ils répondent aux normes de qualité les plus élevées.
                                </li>
                                <li>Déploiement et Lancement : Après votre approbation, nous déployons le projet dans
                                    l'environnement en direct.
                                </li>
                                <li>Soutien et Maintenance : Nous offrons un soutien continu et des services de
                                    maintenance selon les besoins.
                                </li>
                            </ul>
                            </p>
                        </div>
                    </li>
                </ul>

            </div>
        </section><!-- End Frequently Asked Questions Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Merci de nous contacter via la formulaire ci dessous, ou par mail directement.</p>
                </div>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>Tours, Vichy, Moulins, Clermont-Ferrand<br></p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>contact@digitech-agency.fr</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Téléphone:</h4>
                                <p>Maxime : 06 40 38 00 06</p>
                                <p>Kyllian : 07 65 18 10 07</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form"
                              data-aos="fade-left">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                           placeholder="Votre Nom" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="Votre adresse email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                       placeholder="Sujet" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                          required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Chargement...</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Votre message à bien été envoyé. Merci!</div>
                            </div>
                            <div class="text-center">
                                <button type="submit">Envoyer le message</button>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">

            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <a href="#header" class="scrollto footer-logo"><img
                                    src="{{ asset("assets/img/logo/Logo_white_big.webp") }}" alt=""></a>
                        <h3>Digitech-Agency</h3>
                        <p>Inscrivez-vous à notre newsletter pour recevoir les actualités, promotions et nouveautés de
                            Digitech-Agency.</p>
                    </div>
                </div>

                <div class="row footer-newsletter justify-content-center">
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email" placeholder="Saisissez votre adresse mail"><input
                                    type="submit"
                                    value="Subscribe">
                        </form>
                    </div>
                </div>

                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>

            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Digitech-Agency</span></strong>. Tout droits réservés
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-free-bootstrap-theme/ -->
                Réalisé par <a href="https://digitech-agency.fr">Digitech-Agency</a>
            </div>
        </div>
    </footer><!-- End Footer -->
{% endblock body %}
